{
    "presets": [
        "next/babel",[
        "@emotion/babel-preset-css-prop",
        {
            "sourceMap": true,
            "autoLabel": true,
            "labelFormat": "[dirname]-[filename]-[local]",
            "cssPropOptimization": true
        }
    ]]
}